.birthday-container {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, #ff7e5f, #2ca3da);

}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.birthday-card {
    display: inline-block;
    width: 250px;
    padding: 15px;
    background-color: white;
    /* border: 3px solid red; */
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 4px 8px rgba(224, 68, 68, 0.1);
    text-align: center;
}

.birthday-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.birthday-name {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 10px;
}

.birthday-age {
    font-size: 16px;
    color: #555;
}

.clear-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clear-button:hover {
    background-color: #ff3333;
}
